<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row d-flex g-4">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let player of players$ | async">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{player.name}}</mat-card-title>
          <mat-card-subtitle>{{player.age}} years old</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{player.image}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <span class="h5 me-3 ">{{player.position}}</span>
          <span>{{player.nationality}}</span>
          <p class="h5">{{player.club}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Edit</button>
          <button mat-raised-button color="warn" class="mx-2 ">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
